

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
}

.modal {
    width: auto;
    left: 57%;
}

.liOtherPost {
    list-style: none;
}













